html, body{
    width:100%;
    height:100%;
    margin:0 !important;
    padding:0; 
    font-family: 'Open Sans', sans-serif;
}

.wrapper
{
    width: 100%;
}
.error
{
  color:rgb(194, 0, 0);
  font-size: 12px;
}
.siteLogo
{
    text-align: left;
    margin-left: 0;
    margin-right: 0;
    background:rgba(78, 78, 78, 0.1);
    padding: 15px;
    width:100%;    
}

.siteLogo > img{
    float:left;
    width:50px;
    height:50px;
}

.footer
{
  position: fixed;
  left: 0;
  bottom: 0;
  height:3%;
  width: 100%;
  background:rgba(78, 78, 78, 0.1);
  text-align: center; 
  font-size: small; 
}

.backgroundColor{
    background-image: url("background.png");
    background-size : cover;
}

h1{
    font-family: 'Oswald', sans-serif;
}

.logBox{
    width:500px;
    margin: 0 auto;
    background:rgba(78, 78, 78, 0.1);
    border: 0.5px solid color gray ;
    padding: 20px 0 0 ;
    vertical-align:center;
    position:center;
    text-align:center;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}

.registerLink{
    color: gray;
    text-decoration: none;
}

.form-control{
  margin-left: auto;
  margin-right: auto;
}

.input-group{
  margin-left: auto;
  margin-right: auto;
}

/* popup regulamin*/
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  /* koniec popup regulamin*/
  
  .onText:hover{
      color: rgb(2, 2, 124);
  }

  input:invalid {
    border: 1px solid red;
  }

  
