html, body
{
    width:100%;
    height:100%;
    margin:0 !important;
    padding:0; 
    font-family: 'Open Sans', sans-serif;
}
.wrapper
{
    width: 100%;
}

.test
{
    width:100%;
}

.siteLogo
{
    text-align: left;
    margin-left: 0;
    margin-right: 0;
    background:rgba(78, 78, 78, 0.1);
    padding: 15px;
    width:100%;
    
}
.siteLogo > img 
{
    float:left;
    width:50px;
    height:50px;
}

.PageLogo
{
    font-family: 'Oswald', sans-serif;
    font-size:120px;
    
}
.backgroundColor
{
    background-image: url("background.png");
    background-size : cover;
}


h1
{
    font-family: 'Oswald', sans-serif;
}

.logging
{
    width:500px;
    margin: 0 auto;
    background:rgba(78, 78, 78, 0.1);
    border: 0.5px solid color gray ;
    padding: 20px 0 0 ;
    vertical-align:center;
    position:center;
    text-align:center;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 
    
}
.regLink
{
    color: gray;
}
.form-control
{
  margin-left: auto;
  margin-right: auto;
}

